.bg-green{
    background-color:#3d7068;
    color: white;
}

.centerContainer{
    background-color: rgb(199, 199, 199);
    width: 85%;
    height: 400px;
    margin-top: 25px;

}

.downButtonsBox{

    margin: 2%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}

.downButton{
    padding-left:40px;
    padding-right: 40px;
    margin-right:10%;
    margin-left: 10%;
    align-self: center;
}

.signUpContainer{
    background-color: rgb(199, 199, 199);
    width: 400px;
    height: 400px;
    margin-top: 2%;


}

.formButton{
    padding-left:40px;
    padding-right: 40px;

}

.question{
    text-align: center;
    margin: auto;
    padding-top: 15px;
    
}

.qcontent{
    min-height: 250px !important;
    font-size: 14px;
    background-color: #fcd7ad;
    margin:15px;
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2px;
    
}

#typeAnswer{

    display: flex;
    flex-direction:column-reverse;
    padding: 12px;
    margin-bottom: 15px;
}

.provided_answer{
    background-color: #fff;
    font-size: 13px;
    
    display: flex;
    flex-direction:column-reverse;
    padding: 12px;
    margin-bottom: 15px;



}