.bg-green{
    background-color:#3d7068;
    color: white;
}

.centerContainer{
    background-color: rgb(199, 199, 199);
    width: 85%;
    height: 400px;
    margin-top: 25px;

}

.downButtonsBox{

    margin: 2%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}

.downButton{
    padding-left:40px;
    padding-right: 40px;
    margin-right:10%;
    margin-left: 10%;
}
